@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

.bgImage {
  position: relative;
  height: 300vh;
}

.contentHome {
  display: flex;
  height: 100vh;
  width: 100%;
}