@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.bgImage {
  position: relative;
  background-position: top;
  height: 262vh;
}
.bgImage2 {
  position: relative;
  background-position: top;
  height: 197vh;
}
.bgImage3 {
  position: relative;
  background-position: top;
  height: 100vh;
}

.menuImg {
  position: relative;
  background-position: top;
  height: 100vh;
}

.oldF {
  position: relative;
  background-position: top;
  height: 200vh;
}

.imageRes {
  position: relative;
  background-position: top;
  height: 100vh;
}

.reserveIMG {
  position: relative;
  background-position: top;
  height: 100vh;
}

@media only screen and (min-width:200px) and (max-width:1481px) {
  .bgImage {
    height: 210vh;
  }
}


@media only screen and (min-width:200px) and (max-width:844px) {
  .bgImage {
    height: 100vh;
  }
}

@media only screen and (min-width:200px) and (max-width:844px) {
  .bgImage2 {
    height: 100vh;
  }
}

@media only screen and (min-width:200px) and (max-width:844px) {
  .imageRes {
    height: 100vh;
  }
}

@media only screen and (min-width:200px) and (max-width:500px) {
  .oldF {
    height: 100vh;
  }
}