@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.bgImage {
  position: relative;
  background-position: top;
  height: 262vh;
}

.contentHome {
  display: flex;
  height: 100vh;
  width: 100%;
}


@media only screen and (min-width:200px) and (max-width:1481px) {
  .bgImage {
    height: 210vh;
  }
}